<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Olá <%= user.name %> 👋</h1>
    <p>Você está logado com sucesso!</p>
    <a href="/logout" class="btn logout">Sair</a>
  </div>
</body>
</html>